<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#!/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{$ctrl.item.imageUrl}}" alt="{{phone.name}}" />
        </a>
        <span>{{$ctrl.item.name}}</span>
    </div>
    <div class="panel-body">
        <p ng-bind="$ctrl.item.snippet"></p>
    </div>
    <div class="panel-footer">
      <span class="likes">
         <button type="button" class="glyphicon glyphicon-thumbs-up" name="button" ng-click="$ctrl.like()"></button>
         <span ng-bind="$ctrl.item.likes"></span>
      </span>
      <span class="">
         <button type="button" class="glyphicon glyphicon-thumbs-down" name="button" ng-click="$ctrl.dislike()"></button>
         <span ng-bind="$ctrl.item.dislikes"></span>
      </span>
    </div>
</div>
